* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    color: #333;
    
    background: url("image/polygon-scatter-haikei (4).svg");
    background-size: cover;
    background-position: center;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 99;
    background:transparent;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation .navl {
    position: relative;
    font-size: 1.1em;
    color: rgb(99, 99, 102);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navl{
margin-top: 20px;
}
.navigation .navl::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform .5s;
} 
.navigation .navl:hover:after{
     transform-origin:left ;
     transform: scaleX(1);
}
.navigation .btnlogin-popup{
    width: 120px;
    height: 50px;
    background:transparent;
    border: 2px solid rgb(71, 66, 66);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(68, 65, 65);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}
.navigation .btnlogin-popup:hover{
    background: rgb(44, 43, 43);
    color:#cacdcf;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


.request {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    
  
}

.request h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.request p {
    margin-bottom: 5px;
}

.request strong {
    font-weight: bold;
}



.request button {
    background-color: rgb(63, 61, 87);;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.request button:hover {
    background-color: rgb(49, 46, 95);
}

@media screen and (max-width: 600px) {
    .request-container {
        grid-template-columns: 1fr;
       
    }
}

.request-container{
    margin: 30px 100px 100px 100px;
}

.head{
    margin: 100px 0px 0px 450px;
  
}