*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
    scroll-behavior:smooth;
}
body{   
    min-height: 100vh;
    background: url("image/polygon-scatter-haikei (4).svg");
    background-size: cover;
    background-position: center;
}

.container-logo{
    display: flex;
}
.logo-img {
    width: 50px;
    height: 50px;
}
.logo{
    margin-left: 10px;
    margin-top: 15px;
    color: #414344;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 99;
    background: transparent;
}


.navigation .navl {
    position: relative;
    font-size: 1.1em;
    color: rgb(99, 99, 102);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }

.navigation .navl::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform .5s;
} 
.navigation .navl:hover:after{
     transform-origin:left ;
     transform: scaleX(1);
     color:rgb(154, 218, 154);
     color:rgb(76, 202, 76);
     
}
.navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(71, 66, 66);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(68, 65, 65);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}
.navigation .btnlogin-popup:hover{
    background: rgb(44, 43, 43);
    color:#cacdcf;
}

.hero-img {
    width: 100%;
}

.hero-text{
    font-weight: 500;
}

.container-one{
    width: 700px;
    
   
}

.container-whole{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.container-two{
    margin: 100px 50px;
}
.contact{
    width: fit-content;
    padding: 10px 20px;
    margin-top: 40px;
    font-weight: 700;
    font-size: large;
    color: rgb(49, 46, 95);
    border: none;
    border-radius: 10px;
    font-family: raleway;
    background: rgb(164, 164, 170);
    text-decoration: none;
}
.contact:hover{
    background: rgb(49, 46, 95);  
    color: rgb(164, 164, 170)
}

.hero-topic{
    
    font-weight: 800;
    font-size: 50px;
    color: #414344;
    margin-bottom: 50px;
    
}

.hero-topic2{
    color: rgb(49, 46, 95);
}


form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.form-page {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.big-container{
    max-width: 1000px;
    margin: auto;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.form-img{
    width: 100%;
}

.container-img{
    width: 300px;
    height: 700px;
}



.about-section {
    margin-right: 125px;
    margin-left: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    background: rgb(240, 239, 239);
    border-radius: 10px;
   
    
  }
.about-container{
    background: #cbcbcf;
}
.about_title{
    color:#363738;
    margin-left: 50px;
    padding: 20px;
    text-align: center;
}
  
.about-image-slider {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
.about-image-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
  }
  
  .about-description {
    flex: 1;
    
  }
  
  .about-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-description p {
    font-size: 16px;
    line-height: 1.6;
  }


.about-texts{
    display:flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
   
}
.text{
    background: rgb(224, 222, 222);
    border-radius:10px ;
    margin-left: 100px;
    padding: 10px;
    margin-bottom: 100px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}
.txt{
    text-align: center ;
}

.box-head{
    background: rgb(49, 46, 95);
    color: white;
    border-radius: 10px;
    text-align: center ;
}

.dis-img{
   height:200px ;
   width:250px ;
   border-radius: 10px;
   margin-top: 5px;

}

.container-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgb(102, 102, 102);
  
    
}
.contact-box {
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 50px;
    width: 500px;
    height: 400px;
    padding: 20px;
    background-color: #eeebeb;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background:rgb(214, 212, 212) ;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 300px;
}
.icons{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.icon{
    margin-right: 10px;
}

.contact-main{
    color: rgb(49, 46, 95);
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background:#ece7e7;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

form button {
    background-color: rgb(71, 68, 109);
    color: rgb(236, 236, 238);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(49, 46, 95);
}

.form-page {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.scroll-status {
    width: 100%;
    height: 5px;
    background: transparent;
    position: sticky;
    top: 0;
}

.the-scroller {
    height: 100%;
    width: 0px;
    background: rgb(95, 95, 95);
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 20px 0px rgb(255, 250, 253);
}