*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
}
body{
    min-height: 100vh;
    background: url("image/polygon-scatter-haikei (4).svg");
    background-size: cover;
    background-position: center;
}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 99;
    background:transparent;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation .navl {
    position: relative;
    font-size: 1.1em;
    color: rgb(99, 99, 102);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navl{
margin-top: 20px;
}
.navigation .navl::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform .5s;
} 
.navigation .navl:hover:after{
     transform-origin:left ;
     transform: scaleX(1);
}
.navigation .btnlogin-popup{
    width: 120px;
    height: 50px;
    background:transparent;
    border: 2px solid rgb(71, 66, 66);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(68, 65, 65);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}
.navigation .btnlogin-popup:hover{
    background: rgb(44, 43, 43);
    color:#cacdcf;
}

.table{
    margin:150px 0px 0px 350px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px gray;
    background-color: white;
    text-align: left;
    overflow: hidden;
}
.table-bordered{
    margin:150px 0px 0px 250px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px gray;
    background-color: white;
    text-align: left;
    overflow: hidden;
}
thead{
    box-shadow: 0 5px 10px gray;
}
th{
    padding: 1rem 2rem;
    text-transform:uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 700;
}

td{
    padding: 1rem 4rem;

}

tr:nth-child(even){
    background-color: rgb(202, 198, 198);
}

.btn-pencil{
    background-color: rgb(70, 70, 167);
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-decoration: none;
}
.btn-pencil:hover{
    background-color: rgb(109, 109, 163);
}
.btn-danger{
    background-color: rgb(212, 75, 75);
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.btn-danger:hover{
    background-color: rgb(207, 125, 125);
}